body {
  background: #ccc;
  width: 100%;
  height: 100%;
  font-family: 'Exo 2', sans-serif;
  & > header {
    .top-menu {
      color: white;
      width: 1186px;
      height: 39px;
      background: url('../images/topmen.jpg');
      margin: 0px auto;
      .top-info-list {
        display: inline-block;
        & > a {
          font-size: 14px;
          text-transform: uppercase;
          padding-right: 5px;
          float: left;
          margin: 13px 0px 11px 5px;
          border-right: 1px solid white;
          text-decoration: none;
          color: white;
          &:first-child {
            padding-left: 25px;
          }
          &:last-child {
            padding-right: 35px;
            border-right: none;
          }
          &:hover {
            text-decoration: underline;

          }
        }
      }
      .top-basket {
        position: relative;
        display: inline-block;
        height: 39px;
        width: 265px;
        background: #fd6120;
        .top-basket-goods {
          position: absolute;
          padding-top: 10px;
          padding-left: 25px;
          .two-goods {
            display: inline-block;         
            cursor: pointer;
            font-weight: bold;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
            &::before {
              height: 39px;
              width: 43px;
              position: absolute;
              background: url('../images/smallbask.png') no-repeat;
              left: -20px;
              top: 0;
              content: "";
            }
          }
          .two-two-price {

            width: 85px;

            font-weight: bold;

          }
        }
      }
      .make-call {
        display: inline-block;
        width: 320px;
        height: 39px;
        margin-left: -4px;
        position: relative;
        .title-call {
          cursor: pointer;
          text-transform: uppercase;
          font-size: 14px;
          margin-left: 60px;
          top: 4px;
          position: absolute;
          line-height: 15px;
          color: white;
          text-decoration: none;
          &::before {
            background: url('../images/head-phone.png') no-repeat;
            left: -40px;
            top: 2px;
            position: absolute;
            content: "";
            width: 40px;
            height: 28px;
          }
          &:hover {
            border-bottom: 1px solid;
            color: #f9e8dd;
          }
        }
        .call-icons {
          cursor: pointer;
          width: 28px;
          height: 28px;
          position: absolute;
        }
        
        .mail-icon {
          background: url('../images/mail.png');
          left: 215px;
          top: 5px;
        }
        .facebook-icon {
          background: url('../images/facebook.png');
          left: 247px;
          top: 5px;
        }
        .vk-icon {
          background: url('../images/vk.png');
          left: 279px;
          top: 5px;
        }
        
      }
      .register {
        width: 175px;
        background: #fd6120;
        float: right;
        height: 27px;
        display: inline-block;
        padding-top: 12px;
        .enter {
          cursor: pointer;
          text-transform: uppercase;
          font-size: 12px;
          text-decoration: none;
          color: white;
          margin-left: 25px;
          position: relative;
          &::before {
            position: absolute;
            top: -15px;
            left: -45px;
            content: "";
            background: url('../images/lock.png') no-repeat;
            height: 39px;
            width: 39px;
          }
          &:hover {
            border-bottom: 1px solid;
          }
        }      
        .reg {
          color: white;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 12px;
          text-align: center;
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
    }
    .main-headers {
      height: 141px;
      width: 1186px;
      margin: 0px auto;
      background: url('../images/headersbgr.png');
      .right-part {
        width: 590px;
        height: 141px;  
        float: right;
        .headers-search {
          position: relative;
          width: 589px;
          height: 80px;
          background: #0e303f;
          display: inline-block;
          border-radius: 30px 30px 30px 20px;
          margin-top: 10px;
          .search-inpts {
            padding-left: 10px;
            width: 550px;
            height: 35px;
            border-radius: 30px;
            margin-top: 5px;
            margin-left: 12px;
            border: none;
            &:focus {
              border: none;
            }
          }
          .dropdown-list-search {
            cursor: pointer;
            padding-right: 10px;
            text-align: center;
            line-height: 35px;
            width: 155px;
            height: 37px;
            background: #cccccc;
            position: absolute;
            right: 15px;
            top: 5px;
            border-radius: 25px;
            font-family: 'Exo 2', sans-serif;
            font-size: 14px;
            .headers-arrow-orange {
              width: 11px;
              height: 9px;
              background: url('../images/headers-arrow-orange.png');
              display: inline-block;
              position: absolute;
              top: 15px;
              left: 12px;
            }
            .search-button {
              position: absolute;
              display: inline-block;
              width: 44px;
              height: 44px;
              border-radius: 50%;
              background: url('../images/search-button.png');
              right: -1px;
              bottom: -4px;
              cursor: pointer;
            }
          }
          .search-items {
            padding-left: 30px;
            height: 24px; 
            display: inline-block;
            margin-left: 5px;
            margin-top: 5px;
            color: white;
            cursor: pointer;
            font-family: 'Exo 2', sans-serif;
            font-size: 14px;
            line-height: 22px;
            margin-right: 10px;
            &:hover {
              text-decoration: underline;
            }
          }
          .fool {
            background: url('../images/fool-search.png') no-repeat;
          }
          .eve {
            background: url('../images/eve.png') no-repeat;
          }
          .artist {
            background: url('../images/artist.png') no-repeat;
          }
        }
        .number {
          position: relative;
          display: inline-block;
          padding-left: 5px;
          line-height: 24px;
          width: 586px;
          height: 38px;
          background: rgba(0,0,0,0.5);
          margin-top: 12px;
          border-radius: 25px 0px 0px 25px;
          .number-phone {
            position: absolute;
            left: 75px;
            color: white;
            font-family: 'Lobster', cursive;
            font-size: 34px;
            padding-top: 8px;
            .small-numb-phone {
              position: absolute;
              left: -65px;
              font-size: 18px;
            }
          }
          .clock {
            position: relative;
            height: 38px;
            width: 375px;
            float: right;
            background: url('../images/clock.png') no-repeat center left 165px;
            color: white;
            font-weight: bold;
            .work-time {
              font-size: 14px;
              float: right;
              margin-top: 5px;
              margin-right: 15px;
            }
            .clock-info {
              font-size: 14px;
              position: absolute;
              color: white;
              text-decoration: none;
              left: -7px;
              top: 5px;
              
              &:hover {
                border-bottom: 1px solid;
              }
            }
          } 
        }
      }
      .left-part {
        float: left;
        width: 590px;
        height: 141px;
        .headers-bull {
          width: 350px;
          height: 118px;
          display: inline-block;
          background: url('../images/headers-bull.png');
          margin-left: 20px;
          margin-top: 10px;
          margin-right: 20px;
        }
        .headers-info {
          color: white;
          width: 175px;
          height: 110px;
          border: 2px solid white;
          display: inline-block;
          .headers-inf-text {
            font-size: 14px;
            display: inline-block;
            float: right;
            width: 125px;
            line-height: 14px;
            margin-top: 5px;
            margin-right: 5px;
          }
          .vockl {
            display: inline-block;
            float: left;
            font-family: 'Lobster', cursive;
            font-size: 110px;
            width: 40px;
            margin-right: 5px;
          }
        }
      }   
    }
    .bottom-menu {
      width: 1186px;   
      background: white;
      margin: 0px auto;
      height: 95px;
      & > a {
        display: inline-block;
        width: 100%/6.6;
        height: 55px;
        background: url('../images/bottom-menu-item.png') no-repeat bottom;
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 22px;
        text-decoration: none;
        color: black;
        line-height: 35px;
        margin-right: 17px;
        &:last-child {
          margin-right: 0px;
          background: url('../images/orange-bottom-menu-item.png') no-repeat bottom;
          color: white;
        }
        &:hover {
          height: 70px;
        }
      }
    }
  }
  .content {
    width: 1186px;
    height: 1530px;
    margin: 0px auto;
    background: #fff;
    .choice {
      font-family: 'Lobster', cursive;
      color: #2b2e28;
      font-size: 22px;
      padding-bottom: 15px;
      margin-left: 95px;
      & > a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .general-title {
      font-family: 'Lobster', cursive;
      font-size: 40px;
      color: #2c5871;
      padding-bottom: 20px;
      margin-left: 95px;
    }
    .choice-items {
      margin-bottom: 40px;
      margin-left: 90px;
      .choice-item {
        float: left;
        border-right: 1px solid;
        padding-right: 5px;
        text-decoration: none;
        color: #2b2e28;
        padding-left: 5px;
        &:hover {
          text-decoration: underline;
        }
        &:last-child {
          border-right: none;
        }
      }

    }
    .active-choice-item {
        background: #ebebeb;
      }
    .general-part {
      width: 910px;
      float: right;
      .thebasic-menu {
        display: inline-block;  
        width: 897px;
        margin-top: 25px;
        font-size: 10px;
        padding-left: 12px;
        .labels-basic-menu {
          margin-left: 10px;
          font-weight: bold;
        }
        .basic-menu-pt1 {
          padding-right: 20px;
          display: inline;
          .thebasic-active {
            color: #f69776;
            text-decoration: none;
          }
          & > a {
            border-right: 1px solid #b1b2b1;
            padding-right: 5px;
            padding-left: 5px;
            color: #b1b2b1;
            &:last-child {
              border-right: none;
            }
            &:hover {
              text-decoration: none;
              color: #f69776;
            }
          }
        }
        .pt2 {
          padding-right: 25px;
          float: right;
          margin-left: 10px;
          font-size: 11px;
          font-weight: bold;
          .thebasic-active {
            color: #f69776;
            text-decoration: none;
          }
        }
      }
      .bull-list {
        display: inline-block;
        float: left;
        margin-right: 30px;
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 30px;
        .bull-list-item {
          background: url('../images/ill-bull.png') no-repeat;
          height: 177px;
          width: 350px;
          .bull-list-content {
            display: inline-block;
            float: right;
            padding-left: 40px;
            width: 150px;
            .coat-li {
              margin-top: -5px;
            }
            & > li {
              font-size: 12px;
              color: #808080;
              margin-bottom: 14px;
              &:first-child {
                margin-bottom: 8px;
              }
              &:last-child {
                margin-top: 27px;
              }
              .link-circle {
                font-size: 12px;
                padding-left: 15px;
                line-height: 20px;
                &::before {
                  width: 32px;
                  height: 32px;
                  background: #ccc;
                  content: "";
                  border-radius: 50%;
                  display: block;
                  float: left;
                  margin-top: -5px;
                }
              }
              & > i {
                color: #acacac;
              }
              & > a {
                font-size: 16px;

                color: #4c7186;
                text-decoration: none;             
                &:hover {
                  text-decoration: underline;
                }

              }
            }
          }
        }
        .next-page {
          background: #808080;
          width: 176px;
          height: 122px;
          color: white;
          font-family: 'Lobster', cursive;
          font-size: 34px;
          text-align: center;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 45px;
        }
      }
    }
    .left-list {
      margin-top: 20px;
      width: 270px;
      float: left;
      border-right: 2px solid #868686;
      .left-search-label {
        font-family: 'Lobster', cursive;
        font-size: 26px;
        color: #0e303f;
        padding-left: 15px;
        padding-right: 20px;
      }
      .search-inp-btn {
        position: relative;
        .left-search-inp {
          margin-top: 15px;
          width: 230px;
          border-radius: 50px;
          height: 35px;
          margin-left: 15px;
          border: 1px solid #cdcdcd;
        }
        &::after {
          position: absolute;
          content: "";
          width: 44px;
          height: 44px;
          display: inline-block;
          background: url('../images/search-button.png');
          float: right;
          top: 12px;
          right: 18px;
        }
      }
      .dropdown {
        height: 30px;
        width: 225px;
        margin: 0px auto 8px;
        border: 1px solid #808080;
        box-shadow: 1px 1px 3px rgba(128,128,128,0.8);
        .dropdown-list {
          position: relative;
          cursor: pointer;
          margin-top: 6px;
          margin-left: 12px;
          color: #808080;
          &::after {
            position: absolute;
            width: 11px;
            height: 9px;
            content: "";
            background: url('../images/headers-arrow-orange.png');
            right: 5px;
            top: 5px;
          }
        }
      }
      .view {
        margin-top: 23px;
      }
      .btn-search-withline {
        width: 256px;
        background: url('../images/left-line.png') no-repeat;
        height: 35px;
        margin-top: 45px;
        margin-left: 15px;
        & > button {
          border-radius: 25px;
          color: white;
          background: #2c5871;
          border: none;
          font-family: 'Lobster', cursive;
          font-size: 26px;
          height: 35px;
          width: 175px;
          line-height: 18px;
          margin-top: -15px;
          margin-left: 34px;
        }
      }
      .catalog-list {
        font-family: 'Lobster', cursive;
        font-size: 26px;
        line-height: 30px;
        color: #0e303f;
        margin-left: 15px;
        margin-right: 20px;
        margin-top: 20px;
        .catalog-list-item {
          line-height: 36px;
          font-family: 'Exo 2', sans-serif;
          font-size: 16px;
          padding-left: 13px;
          &:hover {
            text-decoration: underline;
          }
          &:first-child {
            margin-top: 15px;
          }
          &:last-child {
            margin-top: 12px;
            font-style: italic;
            text-decoration: underline;
            color: #b4b4b4;
            &:hover {
              text-decoration: none;
            }
          }
          & > a {
            text-decoration: none;
            color: #808080;
          }
        }
        .active-catalog {
          background: #fbcc05;
        } 
      }
      .news-link {
        display: block;
        width: 246px;
        font-family: 'Lobster', cursive;
        font-size: 32px;
        color: #0e303f;
        position: relative;
        padding-top: 20px;
        margin-bottom: 20px;
        position: relative;
        margin-left: 20px;
        padding-top: 50px;
        .one-item-content {
          position: relative;
          font-size: 12px;
          color: #8a8a8a;
          display: block;
          font-family: 'Exo 2', sans-serif;
          line-height: 16px;
          padding-top: 10px;
        }
        &:before {
          content: "";
          display: inline-block;
          width: 246px;
          height: 6px;
          background: url('http://test1.ru/static/css/../images/left-line.png') no-repeat;
          position: absolute;
          top: 30px;
        }
        &:after {
          content: "";
          display: inline-block;
          width: 246px;
          height: 6px;
          background: url('http://test1.ru/static/css/../images/left-line.png') no-repeat;
          margin-bottom: -20px;
          left: 0px;
        }
      }
      .mail-inp {
        width: 210px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .subscribe {
        border-radius: 25px;
        color: white;
        background: #2c5871;
        border: none;
        font-family: 'Lobster', cursive;
        font-size: 26px;
        height: 36px;
        bottom: -30px;
        right: 45px;
        line-height: 18px;
        position: absolute;
      }
    }
  }
  footer {
    font-family: 'Exo 2', sans-serif;
    position: relative;
    margin: 0px auto;
    width: 1115px;
    height: 245px;
    padding-left: 70px;
    background: url('../images/footer-bgr.jpg') no-repeat;
    background-color: white;
    .footer-lists {
      font-family: 'Exo 2', sans-serif;
      width: 785px;
      display: inline-block;
      float: right;
      height: 208px;
      .list-foot {
        cursor: pointer;
        margin-right: 90px;
        margin-top: 25px;
        display: inline-block;
        float: left;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        .title-links-its {
          text-decoration: none;
          color: white;
          &:hover {
            border-bottom: 1px solid;
          }
        }
        .list-foot-item {
          font-size: 14px;
          line-height: 20px;
          text-transform: lowercase;
          font-weight: normal;
          .list-foot-item-link {
            text-decoration: none;
            color: white;
            &:hover {
              border-bottom: 1px solid;
            }
          }
        }
      }
      .two-list {
        margin-right: 55px;
      }
      .three-list {
        margin-right: 40px;
      }
      .four-list {
        margin-right: 0px;
      }
    }
    .small-bull {
      width: 330px;
      height: 208px;
      margin-left: -50px;
      display: inline-block;
      background: url('../images/samll-bull.png') no-repeat center left 20px;
    }
    .footer-social {
      cursor: pointer;
      width: 56px;
      height: 56px;
      position: absolute;
      background: url('../images/foot-mail.png') no-repeat;
      bottom: 10px;
      right: 140px;
    }
    .fot-face {
      background: url('../images/foot-facebook.png') no-repeat;
      right: 80px;
    }
    .fot-vk {
      background: url('../images/foot-vk.png') no-repeat;
      right: 20px;
    }
  }
}