{% extends "base.html" %}

{% block content %}
  <header class="general-header">
		<div class="top-menu">
	      <nav class="top-info-list">
	          <a href="#"> О компании</a>  
	          <a href="#">Оплата и доставка</a>  
	          <a href="#">Контакты</a>  
	      </nav>
	      <a class="top-basket">
	        
	        <span class="top-basket-goods">
	          <i class="two-goods">
	            2 товара</i> 
	            &nbsp;на сумму 
	          <i class="two-two-price">
	            2 200
	          </i> руб.
	        </span>
	      </a>
	      <div class="make-call">
	        <a href="#" class="title-call">
	          Заказать<br> обратный звонок
	        </a>
	        <span class="call-icons phone-icon">
	        </span>
	        <span class="call-icons mail-icon">
	        </span>
	        <span class="call-icons facebook-icon">
	        </span>
	        <span class="call-icons vk-icon">
	        </span>
	        <span class="call-icons lock-icon">
	        </span>
	      </div>
	      <div class="register">
	        <a href="#" class="enter">вход
	        </a>
	        /
	        <a href="#" class="reg">
	          регистрация
	        </a>
	      </div>
	    </div>
		<div class="main-header">
			<div class="slider-zone">
				<div class="slider">
					<p class="box-for">
						Чехлы для iPhone, Samsung<br> и других телефонов <br>с вашим дизайном от 1 шт.
					</p>
					<ul class="dats">
						<li class="dat-item one-item-dat"></li>
						<li class="dat-item two-item-dat"></li>
						<li class="dat-item three-item-dat"></li>
						<li class="dat-item four-item-dat"></li>
						<li class="dat-item five-item-dat"></li>
						<li class="dat-item six-item-dat"></li>
					</ul>
				</div>
				<div class="number">
					<p class="number-phone">
						<i class="small-numb-phone">
							+7 (812)
						</i>
						812 2 218	
					</p>
					<div class="clock">
						<p class="work-time">
							будни с 10:00 до 18:00
						</p>
						<a href="#" class="clock-info">
							supersales@sales.com
						</a>
					</div>
				</div>
			</div>
			<div class="bull-zone">
				<a href="#" class="bull">
				</a>
				<div class="header-note">
				<p class="note-info">
						в идеале, представляю здесь размещение слогана или мини резюме компании:<br> кто такие и чем занимаются
					</p>
					<span class="quest">
						?
					</span>
					
				</div>
			</div>
		</div>
		<div class="bottom-menu-label">
			<h1 class="first-label">
				здесь умная мысль про ассортимент и уникальность товаров
			</h1>
			<input type="text" class="search-inpts" placeholder="поиск уникальных изображений"/>
			<span class="dropdown-list-search">
            <i class="headers-arrow-orange">
            </i>
            иллюстция
            <span class="search-button">
            </span>
          </span>
		</div>
		<nav class="bottom-menu">
	      <a href="#">основа</a> 
	      <a href="#">изображение</a>
	      <a href="#">нанесение</a>
	      <a href="#">конструктор</a>
	      <a href="#">готовые товары</a>
	      <a href="#">распродажа</a>
	    </nav>
	</header>

	<section class="general-part">
		<div class="advertisement-place">
			<div class="advertisement-blocks pt1">

			</div>
			<div class="advertisement-blocks pt2">
			
			</div>
		</div>
		<div class="content">
			<div class="first-part-content">
				<div class="title-labels">
					<h3 class="general-title-label">
						Основы для нанесения
					</h3>
				</div>
				<a href="#" class="items-content item1">Футболки<br> и толстовки</a>
				<a href="#" class="items-content item2">Чашки<br> тарелки,<br> блюдца</a>
				<a href="#" class="items-content item3" style="position: relative;">Сумки,<br> рюкзаки,<br> кошельки</a>
				<a href="#" class="items-content item4">Часы наручные<br> и настенные</a>
				<a href="#" class="items-content item5">Чехлы<br> на популярные<br> модели телефонов</a>
				<a href="#" class="items-content item6">Нижнее<br> белье</a>
			</div>


			<div class="title-labels two-general-title">
				<h3 class="general-title-label">
					Мы гарантируем
				</h3>
			</div>
			<div class="second-part">
				<a hred="#" class="second-item-content">
					<span class="second-content-label">
						100% гарантия
						<p class="second-content-info">
							Если товар вам не подошел,<br> мы незамедлительно вернем<br> деньги или заменим товар!
						</p>
					</span>
				</a>
				<a href="#" class="second-item-content sec-two">
					<span class="second-content-label">
						Быстрая доставка
						<p class="second-content-info">
							Мы ежедневно<br> совершенствуем нашу<br> службу доставки, чтобы<br> сделать ее быстрой,<br> надежной и удобной!
						</p>
					</span>
				</a>
				<a href="#" class="second-item-content sec-three">
					<span class="second-content-label">
						Высокое качество
						<p class="second-content-info">
							Каждый продукт<br> изготовляется<br> персонально, с большой<br> любовью и заботой о вас!
						</p>
					</span>
				</a>
			</div>
		</div>
	</section>
{% endblock %}