<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Acierto print</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Exo+2'  >
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext,latin-ext,cyrillic'>
</head>
<body>
  {% block content %}
  {% endblock %}
	
	<footer>
    <div class="footer-lists">
      <ul class="list-foot">
        <a href="#" class="title-links-its">
          О компании<br> <br>
        </a>  
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            о нас
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            сотрудничество
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            вакансии
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            статьи
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            новости
          </a>  
        </li>
      </ul>
      <ul class="list-foot two-list">
        <a href="#" class="title-links-its">  
          Каталог<br> <br>
        </a>  
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            изображение
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            основы для нанесения
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            готовые изделия
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            конструктор
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            распродажа
          </a>  
        </li>
      </ul>
      <ul class="list-foot three-list">
        <a href="#" class="title-links-its">
          Виды нанесения<br> <br>
        </a>  
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            сублимация
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            деколирование
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            тиснение
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            гравировка
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            вышивка
          </a>  
        </li>
      </ul>
      <ul class="list-foot four-list">
        <a href="#" class="title-links-its">
          контакты<br> <br>
        </a>  
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            Санкт-Петербург
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            Москва
          </a>  
        </li>
        <li class="list-foot-item">
          <a href="#" class="list-foot-item-link">
            Великий Новгород
          </a>  
        </li>
      </ul>
    </div>
    <div class="small-bull">
    </div>
    <span class="footer-social">
    </span>
    <span class="footer-social fot-face">
    </span>
    <span class="footer-social fot-vk">
    </span>
  </footer>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
</body>
</html>