{% extends "base.html" %}

{% block content %}
  <header class="allpages-headers">
    <div class="top-menu">
      <nav class="top-info-list">
          <a href="#"> О компании</a>  
          <a href="#">Оплата и доставка</a>  
          <a href="#">Контакты</a>  
      </nav>
      <div class="top-basket">
        
        <span class="top-basket-goods">
          <i class="two-goods">
            2 товара</i> 
            &nbsp;на сумму 
          <i class="two-two-price">
            2 200
          </i> руб.
        </span>
      </div>
      <div class="make-call">
        <a href="#" class="title-call">
          Заказать<br> обратный звонок
        </a>
        <span class="call-icons phone-icon">
        </span>
        <span class="call-icons mail-icon">
        </span>
        <span class="call-icons facebook-icon">
        </span>
        <span class="call-icons vk-icon">
        </span>
        <span class="call-icons lock-icon">
        </span>
      </div>
      <div class="register">
        <a href="#" class="enter">вход
        </a>
        /
        <a href="#" class="reg">
          регистрация
        </a>
      </div>
    </div>
    <div class="main-headers">
      <div class="right-part">
        <div class="headers-search">
          <input type="text" class="search-inpts" placeholder="Search........"/>
          <span class="dropdown-list-search">
            <i class="headers-arrow-orange">
            </i>
            иллюстция
            <span class="search-button">
            </span>
          </span>
          <span class="search-items fool">
            расширенный поиск
          </span>
          <span class="search-items eve">
            смотрели ранее
          </span>
          <span class="search-items artist">
            поиск по изображению
          </span>
        </div>
        <div class="number">
          <p class="number-phone">
            <i class="small-numb-phone">
              +7 (812)
            </i>
            812 2 218 
          </p>
          <div class="clock">
            <p class="work-time">
              будни с 10:00 до 18:00
            </p>
            <a href="#" class="clock-info">
              supersales@sales.com
            </a>
          </div>
        </div>
      </div>
      <div class="left-part">
        <div class="headers-bull">
        </div>
        <div class="headers-info">
          <span class="headers-inf-text">
            вы можете отложить созданный вами товар в корзину, где он будет хранится до 1 месяца
          </span>
          <span class="vockl">
            !
          </span>
        </div>
      </div>
    </div>
    <nav class="bottom-menu">
      <a href="#">основа</a> 
      <a href="#">изображение</a>
      <a href="#">нанесение</a>
      <a href="#">конструктор</a>
      <a href="#">готовые товары</a>
      <a href="#">распродажа</a>
    </nav>
  </header>
  <section class="delivery-content">
    <div class="baners">
      <div class="banner">
      </div>
      <div class="banner">
      </div>
      <div class="banner">
      </div>
    </div>
    <nav class="choice">
      <a href="#">главная</a>
        /
      <a href="#">доставка</a>
    </nav>
    <h1 class="general-title">Оплата и доставка</h1>
    <div class="general-part">
      <ul class="delivery-list">
        Самовывоз:
        <li class="delivery-list-item">
          <span>Вы можете зареезервировать понравившийся товар по телефону с последующим самовывозом;</span>
        </li>
        <li class="delivery-list-item">
          <span>Заказ будет обработан в рабочии часы магазина. Максимальное время обработки - 2 часа после получения заказа;</span>
        </li>
        <li class="delivery-list-item">
          <span>Заказы, принятые в нерабочее время или менее чем за два часа до закрытия магазина, будут обработаны после открытия магазина на следующий рабочий день</span>
        </li>
        <li class="delivery-list-item">
          <span>Подтверждение резерва оператором магазина производится по указанному контактному телефону или электронной почте</span>
        </li>
        <li class="delivery-list-item">
          <span>Максимальный срок резерва составляет 2 дня.</span>
        </li>
      </ul>
      <ul class="delivery-list">
        Доставка по Санкт-Петербургу и ближайшим пригородам:
        <li class="delivery-list-item">
          <span>В пределах КАД при покупке от 5 000 руб.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 150руб.</span>
        </li>
        <li class="delivery-list-item">
          <span>В пределах КАД при покупке менее 5 000 руб.&nbsp;&nbsp;&nbsp; - 300руб.</span>
        </li>
        <li class="delivery-list-item">
          <span>Ближайшие пригороды, входящие в состав СПб&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - 600руб.</span>
        </li>
        <li class="delivery-list-item">
          <span>Остальные города России и СНГ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; - рассчитываются индивидуально</span>
        </li>
      </ul>
      <ul class="delivery-list">
        Время доставки
        <li class="delivery-list-itema no-disc">
          <span>С понедельника по пятницу</span>
        </li>
        <li class="delivery-list-itema no-disc">
          <span>С 10:00 до 19:00</span>
        </li>
      </ul>
      <ul class="delivery-list" style="padding-top: 20px;">
        Заказ и доставка по России:
        <li class="delivery-list-itema no-disc">
          <span>Доставка товаров в регионы, осуществояется _ _ _ _ _ _ _ _. Доставка осуществляется только по 100% предоплате товара и услуг по доставке. Стоимость и предварительную дату доставки Вы сразу увидите при оформлении заказа.</span>
        </li>
        <br>
        <li class="delivery-list-itema no-disc">
          <span>Заказ можно оплатить онлайн банковской картой на сайте или с помощьб банковского перевода. Реквизиты для оплаты заказа банковским переводом высылаются на Ваш e-mail</span>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}