{% extends "base.html" %}

{% block content %}
  <header>
    <div class="top-menu">
      <nav class="top-info-list">
          <a href="#"> О компании</a>  
          <a href="#">Оплата и доставка</a>  
          <a href="#">Контакты</a>  
      </nav>
      <div class="top-basket">
        
        <span class="top-basket-goods">
          <i class="two-goods">
            2 товара</i> 
            &nbsp;на сумму 
          <i class="two-two-price">
            2 200
          </i> руб.
        </span>
      </div>
      <div class="make-call">
        <a href="#" class="title-call">
          Заказать<br> обратный звонок
        </a>
        <span class="call-icons phone-icon">
        </span>
        <span class="call-icons mail-icon">
        </span>
        <span class="call-icons facebook-icon">
        </span>
        <span class="call-icons vk-icon">
        </span>
        <span class="call-icons lock-icon">
        </span>
      </div>
      <div class="register">
        <a href="#" class="enter">вход
        </a>
        /
        <a href="#" class="reg">
          регистрация
        </a>
      </div>
    </div>
    <div class="main-headers">
      <div class="right-part">
        <div class="headers-search">
          <input type="text" class="search-inpts" placeholder="поиск уникальных изображений"/>
          <span class="dropdown-list-search">
            <i class="headers-arrow-orange">
            </i>
            иллюстция
            <span class="search-button">
            </span>
          </span>
          <span class="search-items fool">
            расширенный поиск
          </span>
          <span class="search-items eve">
            смотрели ранее
          </span>
          <span class="search-items artist">
            поиск по изображению
          </span>
        </div>
        <div class="number">
          <p class="number-phone">
            <i class="small-numb-phone">
              +7 (812)
            </i>
            812 2 218 
          </p>
          <div class="clock">
            <p class="work-time">
              будни с 10:00 до 18:00
            </p>
            <a href="#" class="clock-info">
              supersales@sales.com
            </a>
          </div>
        </div>
      </div>
      <div class="left-part">
        <div class="headers-bull">
        </div>
        <div class="headers-info">
          <span class="headers-inf-text">
            вы можете отложить созданный вами товар в корзину, где он будет хранится до 1 месяца
          </span>
          <span class="vockl">
            !
          </span>
        </div>
      </div>
    </div>
    <nav class="bottom-menu">
      <a href="#">основа</a> 
      <a href="#">изображение</a>
      <a href="#">нанесение</a>
      <a href="#">конструктор</a>
      <a href="#">готовые товары</a>
      <a href="#">распродажа</a>
    </nav>
  </header>
  
{% endblock %}